@font-face {
    font-family: "Agentur";
    src: url(FontsFree-Net-Agentur-Display.ttf);
}

body {
    background-color: black;
    margin: 0;
    font-family: 'Agentur', sans-serif;
}

.navBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
}

img {
    width: 350px;
    padding-top: 10px;
    padding-left: 10px;
}

.navButtons {
    display: flex;
    gap: 20px;
    margin: 0 auto; /* Center the navButtons within the navBarContainer */
}

.navBarMenu {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.navBarMenu a {
    color: #FF5F1F;
    text-decoration: none;
    font-family: 'Agentur';
}

.navBarMenu a:hover {
    color: white; /* Change color to white on hover */
}

.aboutMe {
    display: flex;
    margin-top: 50px;
}

.aboutMeContent {
    color: white;
    font-size: 25px;
    text-align: right;
    padding-top: 20px;
    padding-left: 100px;
    margin-right: 25px;
    flex: 1;
}

.aboutMeImg {
    padding-top: 0px;
    padding-right: 100px;
    margin-left: 0px;
    margin-right: 25px;
}

.aboutMeImg img {
    width: 50px;
    vertical-align: middle;
}

.iama {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.animation {
    color: #FF5F1F;
    font-size: 150px;
}

.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    color: white;
    font-size: 25px;
}

.educationimage img {
    width: 47px;
}

td, th {
    font-weight: normal;
}

.educationcontent {
    flex: 1;
    padding-left: 20px;
}

.educationcontent table {
    width: 100%;
}

.educationcontent th {
    padding: 10px;
    text-align: left;
}

.educationcontent th:nth-child(2) {
    text-align: center;
}

.educationcontent th:nth-child(3) {
    text-align: center;
}

.educationcontent th:nth-child(4) {
    text-align: right;
}

.social-icon {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}
